# SPDX-FileCopyrightText: 2022 ksurl <ksurl@users.noreply.github.com>
# SPDX-FileCopyrightText: 2022-2025 Sébastien Helleu <flashcode@flashtux.org>
#
# SPDX-License-Identifier: GPL-3.0-or-later

bandit
flake8
mypy
pylint
