name: CI

on: [push, pull_request]

jobs:

  test:

    strategy:
      matrix:
        os: [ubuntu-20.04]
        python-version: [3.6, 3.7, 3.8]

    name: Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}

    steps:

      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: pip install flake8 pylint

      - name: Lint with flake8
        run: make flake8

      - name: Lint with pylint
        run: make pylint

  build:

    needs: test

    strategy:
      matrix:
        os: [ubuntu-20.04]
        builder: [docker, podman]
        image: [debian, debian-slim, alpine, alpine-slim]

    name: ${{ matrix.builder }} build ${{ matrix.image }}
    runs-on: ${{ matrix.os }}

    steps:

      - uses: actions/checkout@v2

      - name: ${{ matrix.builder }} build ${{ matrix.image }}
        run: make BUILDER=${{ matrix.builder }} ${{ matrix.image }}
